@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url();

body{min-height: 100vh;}

/*CABEÇALHO*/
header{
    background: #00d49f;
    padding: 10px;
}

.cabecalho{
    width: 100%;
    max-width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.logo-title{
    font-family:'Raleway', 'sans-serif';
    font-size: 40px;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    font-family:'Raleway', 'sans-serif';
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.item {
    text-transform: uppercase;
}

/*CONTEUDO PRINCIPAL*/
.conteudo-principal{
    height: 300px;
    margin-top: 20px;
    padding: 20px;   
}

.title2{
    font-family: 'Raleway', 'sans-serif';
    font-size: 41px;
    font-weight: bold;
}

.ct{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.foto{
    float: right;
}

.pic{
    width: 300px;
    margin: 0 20px 20px 0;
    float: right;
}

.tl-main{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    margin-top: 100px;
}

.pf-1{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 22px;
}    

ul{
    margin-top: 30px;
}

li{
    display: inline-block;
    margin: 0 0 0 15px;
}

.item2{
    font-size: 18px;
    font-family:Arial, Helvetica, sans-serif ;
}

li a {
    text-decoration: none;
}

.button{
    background-color: #00d49f;
    color: black;
    border-radius: 10px;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
} 

/*SOBRE MIM*/
.conteudo-secundario{
    padding: 68px;
    background-color: #b9ffcd;
}

.abt-me{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.title3{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin: 16px 0;
}

.pf-2{
    font-size: 16px;
    margin: 16px 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*SKILLS*/
.container{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
}

.list-itens2{
    display: flex;
}

.item3{
    width: 100px;
    height: 90px;
    border: solid 1px black;
    padding: 16px;
    margin: 0 16px;
}

.title-sh{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    margin: 32px 0;
}

.icon{
    width: 2em;
}

/*FORMAÇÃO ACADEMICA*/
#graduation{
    background-color: #b9ffcd;
    height: 500px;
}

.grt-cont{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    height: 250px;
}

.title4{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 32px 0;
    padding: 20px;
}

.card-group{
    height: 300px;
    display: flex;
    gap: 10px;
}

.card{
    background-color: white;
    width: 300px;
    height: 200px;
    margin: 10px 10px 10px 10px;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-body{
    margin: 0 auto;
}

.card-title{
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-text{
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*PROJETOS*/
#projetos{
    
}

.card-proj{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.title-projects{
    font-size: 32px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin: 32px 0;
}

.tlt-cd{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 15px;
}

.txt-cd{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
    margin-left: 10px;
}

li{
    margin: 5px 0px;
}

.list-tecno{
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px;
    font-size: 16px;
}

.btn-proje{
    background-color: #04d49c;
    border: none;
    border-radius: 10px;
    padding: 10px 22px;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
    width: 120px;
    margin: 0 10px;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*CONTATO*/
#container-contact{
    display: flex;
    flex-direction: row;
    background: #b9ffcd;
}

.box-content{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
    padding: 64px;
}

.img-contact{
    width: 330px;
    height: 455px;
}

.txt-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title-contact{
    font-size: 32px;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 700;
}

.txt-line{
    font-size: 16px;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 500;
}

#textarea{
    font-size: 16px;
    font-family: 'Raleway', 'sans-serif';
    font-weight: 500;
}

#btn-submit{
    width: 165px;
    height: 51px;
    background-color: lightskyblue;
    font-size: 16px;
    font-family: 'Raleway', 'sans-serif';
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.ipt-form{
    height: 40px;
    border-radius: 4px;
    border: 1px solid;
    font-family: 'Raleway', 'sans-serif';
}

/*FOOTER*/
#ft-ct{
    height: 102px;
    background-color: white;
    justify-content: center;
}

.ft-pr{
    text-align: center;
    font-family: 'Raleway', 'sans-serif';
    font-size: 16px;
    padding-top: 40px;
    color: black;
    font-weight: 500;
}

.back-to-top.visible{
    right: 40px;
}

#back-to-top{
    position: fixed;
    z-index: 1010;
    bottom: 20px;
    right: 40px;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 30px;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.4 ease 0s;
    transition: all 0.4 ease 0s;
}

#back-to-top i{
    font-size: 24px;
    line-height: 40px;
    font-weight: normal;
    vertical-align: top;
    -webkit-transition: all 0.4 ease 0s;
    transition: all 0.4 ease 0s;
}

[class^="ifc-"], [class*=" ifc-"] {
    font-family: 'iconfontcustom';
    speak-as: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothin: antialiased;
}

/*MEDIA QUERIES, recebe propriedades de algumas definições*/
@media 