@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

:target{
    scroll-margin-top: .8m;
}

body{min-height: 100vh;
    font-size: 1.25rem;
}

/*CABEÇALHO*/
header{
    background: #00d49f;
    padding: 10px;
}

.cabecalho{
    width: 100%;
    max-width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
}

.logo-title{
    font-family:'Poppins', 'sans-serif';
    font-size: 2.5rem;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    font-family:'Poppins', 'sans-serif';
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.item {
    text-transform: uppercase;
}

/*CONTEUDO PRINCIPAL*/
.conteudo-principal{
    height: 300px;
    margin-top: 20px;
    padding: 20px;   
}

.title2{
    font-family: 'Poppins', 'sans-serif';
    font-size: 2.56rem;
    font-weight: bold;
}

.ct{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.foto{
    float: right;
}

.pic{
    width: 300px;
    margin: 0 20px 20px 0;
    float: right;
}

.tl-main{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    margin-top: 50px;
}

.pf-1{
    font-size: 0.938rem;
    font-family: 'Poppins', sans-serif;
    margin-top: 22px;
}    

ul{
    margin-top: 30px;
}

li{
    display: inline-block;
    margin: 0 0 0 15px;
}

.item2{
    font-size: 1.12rem;
    font-family: 'Poppins', sans-serif ;
}

li a {
    text-decoration: none;
}

.button{
    background-color: #00d49f;
    color: black;
    border-radius: 10px;
    padding: 10px 22px;
    text-align: center;
    text-decoration: none;
    font-size: 1rem;
    margin: 4px 2px;
    cursor: pointer;
} 

/*SOBRE MIM*/
.conteudo-secundario{
    padding: 68px;
    background-color: #b9ffcd;
}

.abt-me{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}

.title3{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 16px 0;
}

.pf-2{
    font-size: 1rem;
    margin: 16px 0;
    font-family: 'Poppins', sans-serif;
}

/*SKILLS*/
.container{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
}

.list-itens2{
    display: flex;
}

.item3{
    width: 100px;
    height: 90px;
    border: solid 1px black;
    padding: 16px;
    margin: 0 16px;
}

.title-sh{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    margin: 32px 0;
}

.icon{
    width: 2em;
}

/*FORMAÇÃO ACADEMICA*/
#graduation{
    background-color: #b9ffcd;
    height: 500px;
}

.grt-cont{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    height: 250px;
}

.title4{
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 32px 0;
    padding: 20px;
}

.card-group{
    height: 300px;
    display: flex;
    gap: 10px;
}

.card{
    background-color: white;
    width: 300px;
    height: 200px;
    margin: 10px 10px 10px 10px;
}

.card-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.card-body{
    margin: 0 auto;
}

.card-title{
    font-size: 1.37rem;
    font-family: 'Poppins', sans-serif;
}

.card-text{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

/*PROJETOS*/
#projetos{
    
}

.card-proj{
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}

.title-projects{
    font-size: 2rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin: 32px 0;
}

.tlt-cd{
    font-size: 1.37rem;
    text-align: center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    padding: 15px;
}

.txt-cd{
    font-family: 'Poppins', sans-serif;
    font-size: 1.12rem;
    margin-left: 10px;
}

li{
    margin: 5px 0px;
}

.list-tecno{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    margin: 10px;
    font-size: 1rem;
}

.btn-proje{
    background-color: #04d49c;
    border: none;
    border-radius: 10px;
    padding: 10px 22px;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    width: 120px;
    margin: 0 10px;
}

a{
    text-decoration: none;
    color: black;
    font-family: 'Poppins', sans-serif;
}

/*CONTATO*/
#container-contact{
    display: flex;
    flex-direction: row;
    background: #b9ffcd;
}

.box-content{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
    padding: 64px;
}

.img-contact{
    width: 330px;
    height: 455px;
}

.txt-form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-box{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title-contact{
    font-size: 2rem;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;
}

.txt-line{
    font-size: 1rem;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
}

#textarea{
    font-size: 1rem;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 500;
}

#btn-submit{
    width: 165px;
    height: 51px;
    background-color: lightskyblue;
    font-size: 1rem;
    font-family: 'Poppins', 'sans-serif';
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.ipt-form{
    height: 40px;
    border-radius: 4px;
    border: 1px solid;
    font-family: 'Poppins', 'sans-serif';
}

/*FOOTER*/
#ft-ct{
    height: 102px;
    background-color: white;
    justify-content: center;
}

.ft-pr{
    text-align: center;
    font-family: 'Poppins', 'sans-serif';
    font-size: 1rem;
    padding-top: 40px;
    color: black;
    font-weight: 500;
}

/*BACK-TO-TOP*/

#top-icon{
    position: fixed;
    z-index: 1010;
    bottom: 20px;
    right: 40px;
    cursor: pointer;
}

/*MEDIA QUERIES, recebe propriedades de algumas definições*/
@media (max-width: 768px){
    html{
        font-size: 50%;
    }
}

@media (max-width: 630px){
    .hero .container{
        flex-direction: column;
        text-align: center;
    }
    .hero .container img{
        order: -1;
    }
}

@media (max-width: 540px){
    nav {
        display: none;
    }

    .item{
        background-color: white;
        height: 5px;
        width: 100%;
        margin: 6px auto;
    }

    .menu-toggle{
        width: 40px;
        height: 30px;
        margin-top: 20px;
    }
}